<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.browep.wegu"
      android:versionCode="5"
      android:versionName="2.2.1">
     <uses-sdk android:minSdkVersion="2" />
    <application android:label="Why Event Get Up?" android:icon="@drawable/icon" android:debuggable="false">
        <activity android:name=".MainAlarm"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name">

        </activity>
        <activity android:name=".AlarmSetter"
                  android:screenOrientation="portrait"

                  android:label="@string/app_name">

        </activity>
        <activity android:name=".Welcome"
                  android:screenOrientation="portrait"

                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" android:process=":remote" >
            <intent-filter>
                <action android:name="com.github.browep.wegu.ALARM_ALERT" />
            </intent-filter>
        </receiver>

        <receiver android:name="BootReceiver"
                  android:enabled="true"
                  android:exported="false"
                  android:label="StartServiceAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".BootAlarmSetter" />

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--<uses-permission android:name="com.android.alarm.permission.SET_ALARM" />-->
</manifest>
